{% extends 'base.twig' %}

{% block title %}{% endblock %}

{% block body %}
<!--orderView.twig-->
    <h1 class="pt-3">Besteloverzicht</h1>

    <h2 class="mt-5">Adresgegevens</h2>
    <p>
        <strong>Naam:</strong> {{ adresgegevens.getNaam() }}<br>
        <strong>Voornaam:</strong> {{ adresgegevens.getVoornaam() }}<br>
        <strong>Straat:</strong> {{ adresgegevens.getStraat() }}<br>
        <strong>Nummer:</strong> {{ adresgegevens.getNummer() }}<br>
        <strong>Telefoonnummer:</strong> {{ adresgegevens.getTelnr() }}<br>
        <strong>Plaats:</strong> {{ adresgegevens.getPlaats().getWoonplaats() }}<br>
        <strong>Postcode:</strong> {{ adresgegevens.getPlaats().getPostcode() }}<br>
        <strong>Bemerkingen:</strong> {{ adresgegevens.getBemerkingen() }}<br>
    </p>
    <a class="btn btn-teal specific-element" href="registerController.php">Adresgegevens wijzigen</a>

    <h2 class="mt-5">Mandje</h2>
    <div class="table-responsive col-lg-6 col-md-8">
    <table border="1">
        <thead>
            <tr>
                <th>Product Naam</th>
                <th>Prijs per stuk</th>
                <th>Aantal</th>
                <th>Totaal</th>
            </tr>
        </thead>
        <tbody>
        {% for product in mandjeItems %}
            {% set productAantal = mandje[product.getProdid()] %}
            {% set productPrijs = heeftRechtOpPromotie and product.getPromotieprijs() ? product.getPromotieprijs() : product.getPrijs() %}
            {% set productTotaal = productPrijs * productAantal %}
            <tr>
                <td>{{ product.getNaam() }}</td>
                <td>€{{ productPrijs }}</td>
                <td>{{ productAantal }}</td>
                <td>€{{ productTotaal }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <h3 class="mt-5">Totaalprijs: €{{ totaalprijs }}</h3>

    <form method="post" action="placeOrderController.php">
        <label for="opmerkingen">Opmerkingen bij de bestelling:</label>
        <textarea name="opmerkingen" id="opmerkingen" rows="4" cols="50">{{ opmerkingen }}</textarea><br>
        <input  class="specific-element btn btn-teal" type="submit" value="Bestellen" {% if mandjeItems|length == 0 %}disabled{% endif %}>
    </form>
    <p>{{ confirmationMessage }}</p>
    
    <div class="mt-5 pb-3">
    <a class="btn btn-teal specific-element ms-1" href="ProductController.php">Terug naar producten</a>
    <a class="btn btn-teal specific-element" href="logout.php">Uitloggen</a>
    <a class="btn btn-teal specific-element" href="OrderHistoryController.php">Bekijk mijn bestelgeschiedenis</a>
</div>
{% endblock %}
